.desktop {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.icons {
  position: absolute;
  top: 12px;
  left: 12px;
  gap: 8px;
  padding-bottom: 40px; /* nicht unter Taskbar */
  pointer-events: auto;
}
